/*--------------------------------------------------------------
>>> WRAPPER
----------------------------------------------------------------
*/

.wrapper {
	margin-left:  auto;
	margin-right: auto;
	padding-left: $space;
	padding-right: $space;

	@include mq($from: mobile_wide) {
		padding-left: 0;
		padding-right: 0;
		width: $max__site__width__mobile;
	}

	@include mq($from: tablet) {
		max-width: $max__content__width;
	}

	@include mq($from: desktop) {
		max-width: $max__site__width;
	}
}
