/* Defaults
========================================================================== */

// Font defaults

@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700,400italic");

html {
	font-size: $font_size;
	line-height: $line_height_root;
	font-family: Merriweather, Georgia, serif;;
	color: $color_font_body;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;

	@include breakpoint($bp_m) {
		font-size: $font_size_desktop;
	}

}

// Font size
h1 {
	font-size: $font_size_h1;
}

h2 {
	font-size: $font_size_h2;
}

h3 {
	font-size: $font_size_h3;
}

h4 {
	font-size: $font_size_h4;
}

h5,
h6 {
	font-size: $font_size_h_;
}

// Font style
h6 {
	font-style: italic;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
}

pre {
    overflow: auto;
}

// Line height
h1,
h2,
h3,
h4 {
	line-height: $line_height_headings;
}

// Margin Top
h1,
h2,
h3 {
	margin-top: $base_x6;
	@include breakpoint($bp_m) {
		margin-top: $base_x8;
	}
}

h4,
h5,
h6 {
	margin-top: $base_x3;
	@include breakpoint($bp_m) {
		margin-top: $base_x4;
	}
}

// Margin Bottom
h1,
p:not(:last-child),
ol,
ul,
blockquote,
hr,
pre {
	margin-bottom: $base_x3;
	@include breakpoint($bp_m) {
		margin-bottom: $base_x4;
	}
}

h2,
h3,
h4 {
	margin-bottom: $base;
	@include breakpoint($bp_m) {
		margin-bottom: $base_x2;
	}
}

// Headings margins: Special cases
h1 + h1,
h2 + h1,
h3 + h1,
h1 + h2,
h2 + h2,
h3 + h2,
h1 + h3,
h2 + h3,
h3 + h3,
hr + h1,
hr + h2,
hr + h3 {
	margin-top: $base_x3;
	@include breakpoint($bp_m) {
		margin-top: $base_x4;
	}
}

// Separators
hr {
	height: $base_x3;
	margin-top: $base_x3;
	text-align: center;
	display: block;
	border: 0;

	@include breakpoint($bp_m) {
		height: $base_x4;
		margin-top: $base_x4;
	}

	&::before {
	    content: "···";
	    letter-spacing: 1em;
	}
}

// Quotes
blockquote,
cite {
	padding-left: $base_x3;

	@include breakpoint($bp_m) {
		padding-left: $base_x4;
	}
}

blockquote cite {
	// Remove padding-left if a cite tag is placed inside a blockquote tag
	padding-left: 0;
}

blockquote {
	font-style: italic;
	margin-top: $base_x6;

	@include breakpoint($bp_m) {
		margin-top: $base_x8;
	}

	> p {
		font-size: $font_size_h3;
	}
}

// Lists
ol, ul {
    padding-left: $base_x3;

    @include breakpoint($bp_m) {
    	padding-left: $base_x4;
    }

    &:last-child {
    	margin-bottom: 0;
    }
}