IO_SLUG='your-theme-name'
IO_NICENAME='Your Theme Name'
IO_POT_BUG_REPORT='https://your-website-here'
IO_POT_TEAM='Your Name <info@example.com>'
IO_URL='http://path-to-your-wordpress-installation'
IO_SSHPORT='22'
IO_SYNCDEST='username@hostname:path'