/*--------------------------------------------------------------
>>> STRUCTURE
----------------------------------------------------------------
*/

.container {
	position: relative;
	width: 100%;
	max-width: $width_desktop;
	margin: 0 auto;
	padding-left: $gutter_width;
	padding-right: $gutter_width;
}

.columns {
	display: flex;
	margin-left: -$gutter_width;
	margin-right: -$gutter_width;
}

.column {
	flex-basis: 0;
	-webkit-box-flex: 1;
	flex-grow: 1;
	flex-shrink: 1;
	padding-left: $gutter_width;
	padding-right: $gutter_width;
}

.column-1,
.column-2,
.column-3,
.column-4,
.column-5,
.column-6,
.column-7,
.column-8,
.column-9,
.column-10,
.column-11,
.column-12 {
	flex: none;
}

.column-1 {
    width: 8.333333%
}

.column-2 {
    width: 16.666667%
}

.column-3 {
    width: 25%
}

.column-4 {
    width: 33.333333%
}

.column-5 {
    width: 41.666667%
}

.column-6 {
    width: 50%
}

.column-7 {
    width: 58.333333%
}

.column-8 {
    width: 66.666667%
}

.column-9 {
    width: 75%
}

.column-10 {
    width: 83.333333%
}

.column-11 {
    width: 91.666667%
}

.column-12 {
    width: 100%
}

article {
	max-width: $width_medium;
	margin: 0 auto;
}