/*--------------------------------------------------------------
>>> IMAGES
----------------------------------------------------------------
*/

img {
	font-style: italic;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
}

figure {
	margin: 0 0 $space;
}
