/*--------------------------------------------------------------
>>> SETTINGS
----------------------------------------------------------------
*/

// Structure widths
$width_small:   90%;
$width_medium:  640px;
$width_desktop: 1170px;