/*--------------------------------------------------------------
>>> SETTINGS
----------------------------------------------------------------
*/

// 8-point base units
$base_px: 8px;
$base_d4: $base_px / 4;
$base_d2: $base_px / 2;
$base:    $base_px;
$base_x2: $base_px * 2;
$base_x3: $base_px * 3;
$base_x4: $base_px * 4;
$base_x5: $base_px * 5;
$base_x6: $base_px * 6;
$base_x7: $base_px * 7;
$base_x8: $base_px * 8;

// Breakpoints
$bp_s:   480px; //val temp
$bp_m:   768px; //val temp
$bp_l:   968px;
$bp_xl:  1020px; //val temp
$bp_xl:  1200px; //val temp

// Structure widths
$width_small:   90%;
$width_medium:  672px;
$width_desktop: 1024px;

// Gutter width
$gutter_width: 8px;

// Typography
$font_size: 16px;
$font_size_desktop: 18px;
$line_height_root: 1.777778;
$line_height_headings: 1.414;
$p_spacing: $line-height_root + rem;
$p_spacing_half: ($line-height_root / 2) + rem;
$p_spacing_double: ($line-height_root * 2) + rem;

// Typographic scale
$font_size_h1: 2.5rem;
$font_size_h2: 1.687rem;
$font_size_h3: 1.375rem;
$font_size_h4: 1.2rem;
$font_size_h_: 1rem;

// Colors
$color_font_body: #222;
$color_font_headings: $color_font_body;
$color_font_light: #888;
$color_font_figcaption: $color_font_body;